<div class="Celery-ModalContainer is-hidden">
  <a class="Celery-ModalCloseButton">
    &times;
  </a>
  <div class="Celery-Modal">
    <div class="Celery-Modal-header">
      <h1 class="Celery-Modal-heading">
        Pre-Order for 50% Off!
      </h1>

      <h2 class="Celery-Modal-subheading">
        Your card will be charged immediately
      </h2>
    </div>

    <div class="Celery-Modal-body">
    </div>

    <div class="Celery-Modal-footer">
      <p>
        We plan to start shipping summer 2014.<br />
        We will send you an email to collect your address later.
      </p>
    </div>
  </div>
</div>
