<svg width="19" height="14" viewBox="0 0 19 14" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 0)" fill="none"><rect fill="#ddd" width="19" height="14" rx="2"/><text font-family="Tahoma" font-size="8" fill="#fff"><tspan x="3" y="10">123</tspan></text></g></svg>
