<svg width="16" height="15" viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 0)" fill="none"><rect fill="#ddd" y="1" width="16" height="14" rx="2"/><rect fill="#ddd" x="2" width="2" height="3" rx="3"/><rect fill="#ddd" x="12" width="2" height="3" rx="3"/><rect fill="#ddd" x="7" width="2" height="3" rx="3"/><path fill="#fff" d="M1 2h14v2H1z"/><text font-family="Tahoma" font-size="8" letter-spacing="1.2" fill="#fff"><tspan x="3" y="12">22</tspan></text><text font-family="Tahoma" font-size="8" letter-spacing="1.2" fill="#fff"><tspan x="3" y="12">22</tspan></text></g></svg>
