<div class="Celery-ModalContainer is-hidden">
  <a class="Celery-ModalCloseButton">
    &times;
  </a>
  <div class="Celery-Modal">
    <div class="Celery-Modal-header">
      <h1 class="Celery-Modal-heading">
        {{preorder}}
      </h1>

      <h2 class="Celery-Modal-subheading">
       {{charged}}
      </h2>
    </div>

    <div class="Celery-Modal-body">
    </div>

    <div class="Celery-Modal-footer">
      <p>
      {{footer}}
      </p>
    </div>
  </div>
</div>
