.Celery-Form {
  background-color: @gray-lightest;
}

.Celery-Form-body {
  padding: @grid-vertical-gutter @grid-horizontal-gutter 0;
}

@media screen and (max-width: @breakpoint-small) {
  .Celery-Form-body {
    padding-right: @grid-small-gutter;
    padding-left: @grid-small-gutter;
  }
}

.Celery-Form-footer {
  padding: @grid-vertical-gutter @grid-horizontal-gutter;
  background-color: @white;
}
