@import 'mixins/transition';

@icon-inner-input-height: @input-height - @border-width;
@icon-inner-input-width: 20px;
@icon-margin: 13px;

.Celery-Icon path {
  fill: @gray-lighter;
  .transition(fill);
}

// Icon inside of a text input
.Celery-Icon--innerInput {
  position: absolute;
  display: block;
  top: @border-width;
  left: @icon-margin;
  height: @icon-inner-input-height;
  width: @icon-inner-input-width;
  line-height: @input-height;

  & svg {
    pointer-events: none;
    width: 100%;
  }
}

.Celery-Icon--date svg {
  width: @icon-inner-input-width * .8;
}
